/* 全ページ共通タイトル */
*{
    margin: 0;   
}

body{
background-color: #333333;
}

.title{
    margin-top: 20px;
color: red;
font-weight: bold;
text-align: center;
}

/* top.htmlのCSS */

#topwarning{
    color: yellow;
    text-align: center;
}

#top-container{
    background-color: darkgrey;
    width: 800px;
    margin: 0 auto;
    padding: 5px 20px;
    margin-top: 30px;
}
#setumei-titile{
    font-weight: bold;
    font-size: 15px;
}

hr {
    width: 95%;
    height: 2px;
    margin: 0 auto;
    background-color: white;
    border: none;
}
#top-icon{
    width: 100px;
    border: solid red;
    
}


.top-enter{
    text-align: center;
}

.top-button{
    margin-top: 10px;

}

.enter-button{
    margin-top: 5px;
}


/* 共通のfooter */
footer{
    margin-top: 20px;
    width: 100%;
    background-color:#dcdcdc;
    bottom: 0;
    height: 30px;
}

.footer-text{
    text-align: center;
    font-size: 11px;
    color: black;
    padding: 5px 0; 
}

/* tabelpagesのCSS */
#human-container{
    background-color:darkgray;
    width: 611px;
    margin: 0 auto;
    margin-top: 30px;
}

#human-title{
  text-align: center;
  font-size: 25px;
  font-weight: bold;  
}


#human-prof{
    line-height: 25px;
    padding :15px 15px
}

.table_text{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    
}

.table {
    display: flex;
    justify-content: center;
}

li{
    margin: 20px 0;
}

.pagination{
       justify-content: center;
}

.table ul li a:link{
    color: dimgray;
}

.table ul li a:visited{
    color: blueviolet;

}

.table ul li a:hover{
    color: red;
    font-weight: bold;
}
